// Define Font Sizes
$font-size-heading: 32px;
$font-size-sub-heading-1: 28px;
$font-size-sub-heading-2: 24px;
$font-size-text-heading: 20px;
$font-size-text-content: 16px;
$font-size-subtext-content: 14px;


// Define Colors
$color-primary: #FF0000;  // Red (Primary)
$color-green: #00FF00;    // Green
$color-secondary: #2B2B2B; // Black (Secondary)
$color-tertiary: #5E5E5E; // Grey (Tertiary)

// Define Global Font Family
$font-family-default: 'Segoe UI', sans-serif;



