<ion-header [translucent]="true">
  <app-navbar></app-navbar>
</ion-header>

<ion-content
  [fullscreen]="true"
  [ngClass]="isMobile ? 'mobile-ui' : 'desktop-ui'"
>
  <div class="margin-container">
    <div class="main-container">
      <!-- First Grid: 1/8/1 Columns -->
      <ion-grid>
        <ion-row>
          <ion-col size="2" class="menu-bar">
            <ng-container *ngFor=" let link of links">
              <a href="#" class="custom-link">{{link}}</a><br />
            </ng-container>
          </ion-col>
          <ion-col size="7">2</ion-col>
          <ion-col size="3">3</ion-col>
        </ion-row>
      </ion-grid>

      <!-- Second Grid: 3/3 Columns -->
    </div>
  </div>
  <div class="footer"></div>
</ion-content>
